.left-col #header .profilepic img {
	/* 控制旋转速度时间*/
  -webkit-transition: -webkit-transform 1.0s ease-out;
  -moz-transition: -moz-transform 1.0s ease-out;
  transition: transform 1.0s ease-out;
}
.left-col #header .profilepic img:hover {
	/* 鼠标经过360% */
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.overimg{ 
position: relative; 
/*display: block; */
overflow: hidden;  
box-shadow: 0 0 10px #FFF; 
} 
.light{ 
	// cursor:pointer; 
	position: absolute; 
	left: -220px; 
	top: 0; 
	width: 60px; 
	height: 90px; 
	background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
	background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
	transform: skewx(-25deg); 
	-o-transform: skewx(-25deg); 
	-moz-transform: skewx(-25deg); 
	-webkit-transform: skewx(-25deg); 
} 
.overimg:hover .light{ 
	left:220px; 
	-moz-transition:0.8s; 
	-o-transition:0.8s; 
	-webkit-transition:0.8s; 
	transition:0.8s; 
} 